* {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

ul {
  margin-top: 50px;
}

li {
  margin: 10px;
  text-align: center;
  list-style-type: none;
}

form {
  text-align: center;
  margin-top: 50px;
}

#sub {
  padding: 2px;
}
