* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    width: 426px;
    height: 46px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

table {
    border-spacing: 3px;
}

button {
  width: 140px;
}

#invisible {
  opacity: 0;
}

svg {
  position: relative;
  top: 4px;
}

tr {
  margin-top: 10px;
}

